@{
    ViewData["Title"] = "Formulário";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de usuário</h1>
    <p>Preencha o formulário abaixo</p>

    <form action="TesteFormData" method="post">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" placeholder="Seu nome">
        <label for="email">E-mail</label>
        <input type="text" name="email" id="email" placeholder="seuemail@gmail.com">

        <button type="submit">Enviar</button>
    </form>

</div>
